In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv(r"C:\Users\arsha\Pictures\startup_data.csv")
df.head()

,Startup Name,Industry,Funding Rounds,Funding Amount (M USD),Valuation (M USD),Revenue (M USD),Employees,Market Share (%),Profitable,Year Founded,Region,Exit Status
0,Startup_1,IoT,1,101.09,844.75,67.87,1468,5.20,0,2006,Europe,Private
1,Startup_2,EdTech,1,247.62,3310.83,75.65,3280,8.10,1,2003,South America,Private
2,Startup_3,EdTech,1,109.24,1059.37,84.21,4933,2.61,1,1995,South America,Private
3,Startup_4,Gaming,5,10.75,101.90,47.08,1059,2.53,0,2003,South America,Private
4,Startup_5,IoT,4,249.28,850.11,50.25,1905,4.09,0,1997,Europe,Acquired

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Startup Name            500 non-null    object
 1   Industry                500 non-null    object
 2   Funding Rounds          500 non-null    int64
 3   Funding Amount (M USD)  500 non-null    float64
 4   Valuation (M USD)       500 non-null    float64
 5   Revenue (M USD)         500 non-null    float64
 6   Employees               500 non-null    int64
 7   Market Share (%)        500 non-null    float64
 8   Profitable              500 non-null    int64
 9   Year Founded            500 non-null    int64
 10  Region                  500 non-null    object
 11  Exit Status             500 non-null    object
dtypes: float64(4), int64(4), object(4)
memory usage: 47.0+ KB

In [4]:
df.describe()

,Funding Rounds,Funding Amount (M USD),Valuation (M USD),Revenue (M USD),Employees,Market Share (%),Profitable,Year Founded
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,2.958000,152.656760,1371.809180,49.321740,2532.092000,5.092940,0.432000,2006.044000
std,1.440968,86.683711,978.226579,29.267605,1385.434921,2.807646,0.495851,9.347128
min,1.000000,0.570000,2.430000,0.120000,12.000000,0.100000,0.000000,1990.000000
25%,2.000000,79.212500,557.027500,22.802500,1382.750000,2.760000,0.000000,1998.000000
50%,3.000000,156.005000,1222.580000,48.800000,2496.500000,5.135000,0.000000,2006.000000
75%,4.000000,226.450000,2052.085000,74.965000,3708.750000,7.552500,1.000000,2014.000000
max,5.000000,299.810000,4357.490000,99.710000,4984.000000,10.000000,1.000000,2022.000000

In [5]:
df.dtypes

Startup Name               object
Industry                   object
Funding Rounds              int64
Funding Amount (M USD)    float64
Valuation (M USD)         float64
Revenue (M USD)           float64
Employees                   int64
Market Share (%)          float64
Profitable                  int64
Year Founded                int64
Region                     object
Exit Status                object
dtype: object

In [6]:
df.shape

(500, 12)

In [8]:
df.count()

Startup Name              500
Industry                  500
Funding Rounds            500
Funding Amount (M USD)    500
Valuation (M USD)         500
Revenue (M USD)           500
Employees                 500
Market Share (%)          500
Profitable                500
Year Founded              500
Region                    500
Exit Status               500
dtype: int64

In [9]:
df.isnull().sum()

Startup Name              0
Industry                  0
Funding Rounds            0
Funding Amount (M USD)    0
Valuation (M USD)         0
Revenue (M USD)           0
Employees                 0
Market Share (%)          0
Profitable                0
Year Founded              0
Region                    0
Exit Status               0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.columns

Index(['Startup Name', 'Industry', 'Funding Rounds', 'Funding Amount (M USD)',
       'Valuation (M USD)', 'Revenue (M USD)', 'Employees', 'Market Share (%)',
       'Profitable', 'Year Founded', 'Region', 'Exit Status'],
      dtype='object')

In [13]:
df=df.drop(['Startup Name','Exit Status'],axis=1)

In [15]:
df.head()

,Industry,Funding Rounds,Funding Amount (M USD),Valuation (M USD),Revenue (M USD),Employees,Market Share (%),Profitable,Year Founded,Region
0,IoT,1,101.09,844.75,67.87,1468,5.20,0,2006,Europe
1,EdTech,1,247.62,3310.83,75.65,3280,8.10,1,2003,South America
2,EdTech,1,109.24,1059.37,84.21,4933,2.61,1,1995,South America
3,Gaming,5,10.75,101.90,47.08,1059,2.53,0,2003,South America
4,IoT,4,249.28,850.11,50.25,1905,4.09,0,1997,Europe

In [19]:
le = LabelEncoder()
re= LabelEncoder()

df["Industry"] = le.fit_transform(df["Industry"])
df["Region"] = re.fit_transform(df["Region"])

In [22]:
x = df.drop("Profitable", axis=1)
y = df["Profitable"]

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
model1=rf.fit(x_train,y_train)
model1.score(x_test,y_test)

0.536

In [25]:
dec=DecisionTreeClassifier()
model3=dec.fit(x_train,y_train)
model3.score(x_test,y_test)

0.52

In [26]:
import pickle

In [27]:
with open("Startup_model.pkl","wb") as f:
    pickle.dump(model1,f)

In [29]:
with open("industry_encoder.pkl", "wb") as f:
    pickle.dump(le, f)

# Save region encoder
with open("region_encoder.pkl", "wb") as f:
    pickle.dump(re, f)

# Project Summary

The Startup Profitability Predictor project demonstrates the complete workflow of predicting whether a startup is profitable using machine learning. Starting with a historical startup dataset, the project involves:

Data Preprocessing: Cleaning the data, handling missing values, and dropping irrelevant columns like Startup Name and Exit Status.

Categorical Encoding: Converting Industry and Region into numeric values using LabelEncoder to make them usable by the model.

Feature Selection: Using relevant features such as funding rounds, funding amount, valuation, revenue, number of employees, market share, and year founded.

Model Training: Training a Random Forest Classifier to predict the Profitable target variable.

Model Serialization: Saving the trained model and encoders with Pickle for deployment.

Deployment with Streamlit: The Streamlit web application is developed in VS Code, providing a user-friendly interface where users can input startup details and get real-time profitability predictions along with probability scores.

User Experience: The app includes a background image, readable white text, and dropdown menus with only valid options to prevent errors.

This project illustrates the entire ML lifecycle, from raw data preprocessing to deploying an interactive web app in VS Code, and is a practical tool for entrepreneurs, investors, and analysts to evaluate startup potential efficiently.